streamlit==1.30.0
PyPDF2==3.1.0
pdf2image==1.16.3
Pillow==10.0.0
python-docx==0.8.12
odfpy==1.4.1
pypandoc==1.8.6
pyttsx3==2.90
fpdf==1.7.2
google-cloud-vision==3.2.2
google-cloud-storage==2.13.0
requests==2.31.0
